 /* text-align-last => sirf lst line pr efect krta hai
     text-align->sirf horz center krta hai vertically bhi krne ke lie use flexbox
     align-items:stretch => sbhi flexitems puri height lenge apne div ki agr stretch ni krneg to vo utni hi height lenge jitn text ki hogi
     align-self: item khud apni alignent chose krta hai irespective of parent
     height jb bdhao => jb header ya hero section ho ya layout 
     pading bdhao jb heading ,buton,text mai
   */
  
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.header{
    background-color:blue;
    padding:0px;
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items:center;
    /* height:30vh; */
    padding-bottom: 278px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnUVdYoo_BG8u0MfdXGxKjjdCIxILMVDzJJw&s");
    background-repeat: no-repeat;
    background-size:cover;

}
.my{
    position: absolute;
    top:50%;
    left:50%;
    color:white;
    font-size:37px;
    transform:translate(-50%,-50%);
    
    font-family:fantasy;
}
.learnmore{
    position: absolute;
    top:100%;
    left:50%;
    transform:translate(-50%,-50%);

    color:black;
    font-size:17px;

    display:flex;
    justify-content:center;
    align-items:center;

    width:111px;
    height: 38px;
    border-radius: 13px;
    padding-top:8px;
    padding-bottom:8px;
    
    background-color: white;
     cursor:pointer;
}
.heading{
    /* width:325px; */
    
     margin-top: 4px;
    /* background-color:rgb(203, 207, 208); */
    padding-top:7px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.h2{
    width:125px;
    text-align: center;
    background-color:aquamarine ;
    /* padding-top: 6px; */
    font-style:italic;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.navitems{
    width:272px;
    /* background-color: burlywood; */
    color:black;
   display: flex;
    justify-content:space-around; /* move to right */
    gap: 20px;         
    align-self:stretch;       /* spacing between items */
   align-items:center;
   margin:4px;
   padding:0 15px;
    list-style: none;
}    


.navitems a{
    color:cornsilk;
    font-weight: 800;
    text-decoration: none;
}
.todo{
    text-align:left;
}
li{
    text-transform:capitalize;
}